<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/sonic/listar/instrumento2}">Inicio</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" th:href="@{/pessoa/formulario}" sec:authorize="!(isAuthenticated())">Cadastro</a>
    </li>
    
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/sonic/listar/instrumento}" sec:authorize="hasRole('ROLE_ADMIN')">Cadastrar Instrumentos</a>
    </li>
    <li class="nav-item" style="float: right; right: 0; position: absolute;">
      <a class="nav-link" th:href="@{/pessoa/logar}" sec:authorize="!(isAuthenticated())">Logar-se</a>
    </li>
     <li class="nav-item" style="float: right; right: 0; position: absolute;">
      <a class="nav-link"  th:href="@{/pessoa/logout}" sec:authorize="isAuthenticated()">Sair</a>
    </li>
    
  </ul>
</nav>








	<table class="table">
		<thead>
			<tr>
				<th scope="col">Codigo</th>
      			<th scope="col">Nome</th>
      			<th scope="col">Tipo</th>
      			<th scope="col">Preço</th>
      			<th scope="col">Quantidade</th>
      			<th scope="col">Imagem</th>
      			<th scope="col"></th>
      			<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="instrumento : ${todosInstrumentos}">
				<td th:text="${instrumento.id}"></td>
				<td th:text="${instrumento.nome}"></td>
				<td th:text="${instrumento.tipo}"></td>
				<td th:text="${#numbers.formatDecimal(instrumento.preco, 0, 'POINT', 2, 'COMMA')}" id="preco"></td>
				<td th:text="${instrumento.quant}"></td>
				<td><img th:src="@{'/images/'+${instrumento.nome}+.png}" width="30px"></td>
				
				<td><a th:href="@{/sonic/excluir/instrumento/{id}(id = ${instrumento.id})}"> <button type="button" class="btn btn-danger">Excluir</button></a></td>
      			<td><a th:href="@{/sonic/atualizar/instrumento/{id}(id = ${instrumento.id})}"> <button type="button" class="btn btn-primary">Atualizar</button></a> </td>
				<td><a th:href="@{/sonic/exibir/instrumento/{id}(id = ${instrumento.id})}"> <button type="button" class="btn btn-success">Exibir</button></a>
			</tr>	
			
		</tbody>
	
		<tr>
			<td>
				<a th:href="@{/sonic/adicionar/instrumento}">
					<button type="submit" class="btn btn-success">Adicionar</button>
				</a>
			</td>
		</tr>
	
	
	</table>

</body>
<footer class="page-footer font-small blue-grey lighten-5 mt-4">
	<div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
    <a class="dark-grey-text"> Mada Instrumentos | Bruno da Silva Pinho. | (88)992053421</h5> </a>
  </div>
	  
</footer>
</html>